<div>
<%- include('./partials/header') %>
</div>

<div id="home-page", class="index">
  <img src="https://i.imgur.com/7kIPfsp.png">
  <p class ="home-links" id="blurb">
  <% if (user) { %>
    Welcome back to the oreo fan club! If you've encountered some new flavors, make sure to <a href="/oreos/new" class="home-links" %>>add them!</a>
  <% } else { %>
    <a href="/auth/google" class="home-links">Sign up&nbsp;</a>to be part of the Oreo Fan Club! 
  <% } %>
  </p>
</div>
    
<div>
<%- include('./partials/footer') %>
</div>