<%- include('./partials/header') %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <br>
    <h1><%= title %></h1>
    <div id="home-page">
    <img src="https://i.imgur.com/7kIPfsp.png">
    <p>Accept all cookies?<br>(yeah) (hell yeah)</p>
    </div>
  </body>
</html>


<%- include('./partials/footer') %>
