body {
  padding: 50px;
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/pwzHavX.png);
  background-size: 100vh;
  text-align: center;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

.login img {
  height: 25px;
  padding: 5px;
}

nav, #footer {
display: flex;
align-items: center;
background: #8cd7ee;
border-radius: 10px;
margin: auto;
justify-content: space-between;
}

nav > a {
  margin: 0 30px;
  color: black;
}

#oreo-head, #index-imgs {
  height: 30px;
  padding: 5px;
}

h1 {
  background-color: #8cd7ee;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 30vh;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#home-page {
  display: flex;
  justify-content: center;
}

#home-page > p {
  background-color: #8cd7ee;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  width: 30vh;
}

#avatar {
  height: 30px;
  border-radius: 50%;
}

section, table, form {
  background: white;
  margin: auto;
}

#countries {
  list-style-type: none;
  padding-left: 0
}

#show-img {
  height: 25vmin;
}

table {
  width: 90vmin;
  border-radius: 10px;
}

#show-page {
  display: flex;
  justify-content: space-evenly
}

.info {
  margin-top: auto;
  margin-bottom: auto;
}