body {
  padding: 50px;
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

.login img {
  height: 25px;
  padding: 5px;
}


nav {
  background-image: url(https://i.imgur.com/qf9Fku7.jpg);
  background-size: cover;
  height: 150px;
  width: 103%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  top: 0;
  position: absolute;
  margin-left: -75px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2.5rem;        
  font-size: 12px; 
  text-align: center;
}

nav > a {
  margin: 10px 30px 0 100px;
  color: black;
}

a {
  font-size: 18px;
}

#oreo-head, #index-imgs {
  height: 30px;
  padding: 5px;
}

h1 {
  background-color: #44cbf3
  ;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 30vh;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#home-page {
  display: flex;
  justify-content: center;
}

#avatar {
  height: 30px;
  border-radius: 50%;
}

table {
  background: white;
  margin: auto;
  width: 50vmin
}

#show-img, .edit-imgs {
  width: 25vmin;
}

table {
  width: 80vmin;
  border-radius: 10px;
  background: white;
}

#show-page {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 75vmin;
}

#show-page > div {
  margin-left: 30px;
  margin-right: 30px;
}

.info {
  margin-top: auto;
  margin-bottom: auto;
}

#new-oreo > div {
  padding: 30px;
}

#new-oreo {
  width: 80vmin;
  margin: auto;
}

img {
  border-radius: 10px;
}

#country-names {
  font-size: 30px;
}

#countries-list {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-count: 6;
  height: 400px;
}

#countries-index {
  display: flex;
  flex-direction: column;
}

#countries {
  list-style-type: none;
}
.view {
  width: 80vmin;
  margin: auto;
  background: white;
}

#add-review-form,
#add-country-form,
#edit-oreo-form,
#new-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#edit-oreo-form input[type="submit"],
#new-form input[type="submit"],
#add-country-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

#badge-container {
  margin: auto;
}

#add-review-form {
  background: white;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 40vmin;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#banner {
  height: 100px;
}

.active {
  color: white;
}

table {
  text-align: center;
  font-size: 18px;
}

.index {
  font-size: 24px;
}

.home-links {
  font-size: 36px;
}

#blurb {
  margin: auto;
  background-color: #44cbf3;
  border-radius: 10px;
  padding: 10px;
}

#countries-banner {
  margin: auto;
  text-align: center;
  display: grid;
  justify-content: center;

}

#countries-banner > div > img {
  margin-top: 50px;
  height: 60px;
}