<%- include('../partials/header') %>

<a href="/countries/new"	<%- title === 'Add Country' ? 'class="active"' : '' %>>
    ADD COUNTRY</a>


<table id="list">
  <thead>
    <tr>
      <th>Country</th>
      <th>Oreo</th>
      <th></th>
    </tr>
  </thead>

 


  <tbody id="countries">
    <% countries.forEach(function(c) { %>
      <tr>
        <td><%= c.name %></td>

      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
