<div>
<%- include('../partials/header') %>
</div>

<div>
<section class="view">
<div>Before adding, please ensure that the country is not in the following list:</div>
<section id="badge-container">
  <% countries.forEach(function(c) { %>
    <article class="badge"><%= c.name %></article>
  <% }) %>
</section>

<form id="add-country-form" action="/countries" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Country">
</form>
</section>
</div>

<div>
<%- include('../partials/footer') %>
</div>