<%- include('../partials/header') %>
<h1>Add New Oreo</h1>
<section id="new-oreo">
  <div>
<td><img src="https://i.imgur.com/oL5gZk7.jpg"></td>
</div>
<div>
<form id="new-form" action="/oreos" method="POST">
  <label>Name:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>Image URL:</label>
  <input type="text" name="imgUrl"><br><br><br>
  <input type="submit" value="Add Oreo">
</form>
</div>
</section>


<%- include('../partials/footer') %>
