<%- include('../partials/header') %>

<form id="new-form" action="/oreos" method="POST">
  <label>Name:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>Image URL:</label>
  <input type="text" name="imgUrl">
  <input type="submit" value="Add Oreo">
</form>


<%- include('../partials/footer') %>
