<%- include('../partials/header') %>

<form id="new-form" action="/oreos" method="POST">
  <label>Name:</label>
  <input type="text" name="title">
  <label>Release Date:</label>
  <input type="date" name="releaseDate">
  <input type="submit" value="Add Oreo">
</form>

<%- include('../partials/footer') %>
