<%- include('../partials/header') %>

<form id="new-form" action="/oreos" method="POST">
  <label>Name:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>Countries Available (separate countries with commas):</label>
  <input type="text" name="avail">
  <input type="submit" value="Add Oreo">
</form>

<%- include('../partials/footer') %>
