<%- include('../partials/header') %>


<section id="show-page">
  <div>Name: </div>
  <div><%= oreo.title %></div>
  <div>Release Date: </div>
  <div><%= oreo.releaseDate %></div>
</section>

<br><br><h2>Reviews</h2>



<%- include('../partials/footer') %>
